root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
# Compose: @Composable 함수는 PascalCase (공식 가이드)
ktlint_function_naming_ignore_when_annotated_with = Composable

[*.{xml}]
indent_style = space
indent_size = 4
